<div class="container" style="text-align:center">
  <div class="row">
    <div class="col-sm-4">
      <div class="main">
	<h1>Recipes List</h1>
	<div class="row">
	 	<div class="col-lg-6">
		    <div class="input-group">
		      <input  [(ngModel)] = "newRecipe" type="text" class="form-control" placeholder="Recipe name...">
		      <span class="input-group-btn">
		        	<button class="btn btn-secondary" type="button" (click)="addItem()">Add</button>
		      </span>
		    </div>
		</div>
	</div>
	<div class="list-group" >
	  <a *ngFor="let recipe of recipes" href="#" class="list-group-item" (click)="showDetails(recipe)">
	    {{recipe.name}}
	    <span class="badge badge-default badge-pill" (click)="deleteItem(recipe)">X</span>
    </a>
	</div>
</div>
    </div>
     <div class="col-sm-8">
  <receipe-detail
  		*ngIf="showDetail"
  		[singleReceipie]="receipeToShowDetails"
      (favouriteOutput)="isFavourite($event)"
      (newIngredients)="getNewIngredients($event)">
	</receipe-detail>

  </div>
</div>
</div>

