<select class="form-control" style="width: 85%"  [(ngModel)]="ingredient" name="Origins" #Origin>
  <option *ngFor="let r of ingredients" value="{{r}}">{{r}}</option>
</select>
<input style="width: 20%" placeholder="Amount" [(ngModel)]="amount"/>
<select style="width: 40%" class="form-control"  [(ngModel)]="unit" name="Origins">
  <option *ngFor="let l of unitDictionary" value="{{l}}">{{l}}</option>
</select>
<button style="margin-top: 5%" (click)="addIngredients()">Add to clipboard</button>
<button style="margin-top: 5%" (click)="addToReceipe()">Add to receipe</button>
