<table class="container" style="text-align:center; margin-top: 30px">
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>BIG AMOUNT</th>
    <th>INGREDIENTS</th>
  </tr>
  <tr>
    <td>{{singleReceipie.id}}</td>
    <td>{{singleReceipie.name}}</td>
    <td>{{singleReceipie.bigAmount}}</td>
    <td>{{singleReceipie.ingrediens ? singleReceipie.ingrediens : 'Empty'}}</td>
    <td><input type="checkbox" class="form-check-input" [checked]="singleReceipie.favourite" [(ngModel)]="singleReceipie.favourite" (change)="setFavourite()">Favorite</td>
    <td>
      <add-ingredients-to-receipe
      (addedIngredients)="getAddedIngredients($event)"
      >
      </add-ingredients-to-receipe>
    </td>
  </tr>
</table>
